<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nanjing">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--闪图界面-->
        <activity
            android:name=".GuideActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--两个注册界面-->
        <activity
            android:name=".login.LoginActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_title" />
        <activity
            android:name=".login.RegActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_title" />

        <!--主界面-->
        <activity android:name=".MainActivity">

        </activity>
    </application>

</manifest>